{% extends 'base.html' %}


{% block title %}Add A Playlist{% endblock %}


{% block content %}
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-4 mx-auto'>
<h1>Create a Playlist</h1>

<form method = 'POST'>
    {{form.hidden_tag()}}

    {% for field in form if field.widget.input_type != 'hidden' %}

    <p>
        {{field.label}}
        {{field}}

        {% for error in field.errors %}
        {{error}}
        {% endfor %}
    </p>
    {% endfor %}
    <button type = 'submit' class = 'btn btn-sm btn-info'>Add Playlist</button>
</form>
</div>
</div>
</div>

{% endblock %}